# 忽略 资料文件夹
资料/

# 忽略 IDEA 配置文件
.idea/
*.iml

# 忽略编译产物
**/target/
*.class

# 忽略 node_modules
/xiaochengxv/node-modules

# 忽略测试相关
*Test.java
**/test/
/sky-take-out/sky-server/src/main/resources/application-oss.yml
/sky-take-out/sky-server/src/main/resources/application-dev.yml
/sky-take-out/sky-server/src/main/resources/application-redis.yml
/一些乱七八糟的笔记/
/sky-take-out/sky-server/src/main/resources/application-wechat.yml
/sky-take-out/sky-server/src/main/resources/application-baidu.yml
/sky-take-out/sky-server/src/main/resources/application-shop.yml
